.monitor-container {
  margin-top: 40px;

  h2 {
    color: #00e6ac;
    margin-bottom: 20px;
  }

  .loading-text {
    color: #aaa;
    font-size: 18px;
  }

  video {
    border: 2px solid #00e6ac;
    border-radius: 8px;
  }
}